<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="iamport-cordova-interface"
  version="1.0.1">

    <name>IamportCordovaInterface</name>
    <description>Iamport Common Interface for Cordova</description>
    <author>SIOT</author>
    <license>MIT</license>
    <keywords>payment,iamport,cordova</keywords>

    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>

    <platform name="ios"></platform>
    <platform name="android">
        <source-file src="src/android/kr/iamport/IamportUrlSchemeHandler.java" target-dir="src/kr/iamport" />
    </platform>

</plugin>